.menu {
  font-size: 14px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color: rgba(255, 255, 255, 0.94);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-detalhes{
  position: absolute;
    right: 25%;
    left: 25%;
    bottom: 5;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.inicioConteudo {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.textWhite{
  color: #fff;
}
.Filtro{
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
.Filtro h1 {
  font-size: 18px;
  color: #e1e1e1;
  margin-top: 12px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.alinharSwitch{
  margin-top: 8px;
}

img{max-width:100%;}
	*{transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease}
.my-list {
    min-height: 242px;;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position:relative;
    overflow:hidden;
}
.revenda {
    border: 1px solid #265a884d;
    box-shadow: 2px 3px 0px #265a88;
}
.particular {
  border: 1px solid #75757552;
  box-shadow: 2px 3px 0px #757575;
}
.my-list h3{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #ccc4c4;
    margin-bottom: 5px;
    padding-bottom: 5px;
    }
	.my-list span{float:left;font-weight: bold;}
	.my-list span:last-child{float:right;}
	.my-list .offer{
    width: 100%;
    float: left;
    margin: 5px 0;
    border-top: 1px solid #ccc4c4;
    margin-top: 5px;
    padding-top: 5px;
    color: #afadad;
    }
	.detail {
    padding: 7px;
    position: absolute;
    top: -107%;
    left: 0;
    text-align: center;
    color: #fff;
    background: #000;height: 100%;width:100%;
    opacity: 0.9;
    filter: alpha(opacity=100);
}
.my-list:hover .detail{top:0;}

ul li {list-style:none; float:left; margin-top: 5px;}

/*Icon Styles*/
.icon {color:#fff; border-radius:50px; padding:10px; background-color:rgba(255,255,255,0); transition:all .5s ease;}

.icon a {width:15px; height:15px; display:block; position:relative; color:#fff;}

.icon a:after {box-sizing:content-box; border-radius:50%; content:""; height:100%; width:100%; box-shadow:0 0 0 1px #fff; padding:8px; position:absolute; top:-8px; left:-8px; opacity:1; transition:all .25s ease;}

.icon:hover {background-color:rgba(255,255,255,1);}
.icon:hover a {color:#333;}
.icon:hover a:after {padding:12px; left:-12px; top:-12px; box-shadow:0 0 0 2px #fff;}

/*Visually adjust font icon sizes and positions*/
.fa-home {font-size:32px}
.fa-envelope {font-size:26px; margin:2px 0 0 3px;}
.fa-gears {font-size:26px; margin:3px 0 0 1px;}
.fa-shopping-cart {font-size:28px; margin:2px 0 0 2px;}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #1d2087;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #203469;
  color: #203469;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #203469;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle1 {
  opacity: 0.4;
}

.circle2 {
  opacity: 0.6;
}

.circle3 {
  opacity: 0.8;
}

.circle a {
  text-decoration: none;
  color: #1d2087;
}

.circle h2 {
  font-size: 60px;
}

.circle h2 small {
  color: #1d2087;
}

.circle p {
  font-size: 24px;
  line-height: 26px;
}

.iCentroDiv{
  margin-top: 14px !important;
}

.menuFixo{
  position: fixed;
}

hr{
  border-color:#aaa;
  box-sizing:border-box;
  width:100%;
}

.marginCabecalho30{
  margin-top: 30px;
}

.marginCabecalho40{
  margin-top: 40px;
}

.marginCabecalho50{
  margin-top: 50px;
}

.marginCabecalho10{
  margin-top: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


    /* myfooter */

.myfooter {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.myfooter .title-widget {
	text-align: left;
	color:#fff;
	font-size: 25px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.myfooter .title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.myfooter .social-icon{padding:0px;margin:0px;}
.myfooter .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.myfooter .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.myfooter .acount-icon .fa{margin-right:25px;}


.myfooter .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.myfooter ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}


.myfooter .payment{margin:0px;padding:0px;list-style-type:none}
.myfooter .payment li{list-style-type:none}
.myfooter .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

.myfooter ul.social {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.myfooter ul.social li {
	display: inline;
	margin: 0 5px;
}
.myfooter .social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.myfooter .social a.icoRss:hover {
	background-color: #BD3518;
}
.myfooter .social a.icoFacebook:hover {
	background-color:#3B5998;
}
.myfooter .social a.icoTwitter:hover {
	background-color:#33ccff;
}
.myfooter .social a.icoGoogle:hover {
	background-color:#BD3518;
}
.myfooter .social a.icoVimeo:hover {
	background-color:#0590B8;
}
.myfooter .social a.icoLinkedin:hover {
	background-color:#007bb7;
}
.myfooter .social a.icoInstagram:hover {
	background-color:#e400d1;
}
.myfooter .social a.icoRss:hover i, .myfooter .social a.icoFacebook:hover i, .myfooter .social a.icoTwitter:hover i,
.myfooter .social a.icoGoogle:hover i, .myfooter .social a.icoVimeo:hover i, .myfooter .social a.icoLinkedin:hover i {
	color:#fff;
}
a.myfooter .socialIcon:hover, .myfooter .socialHoverClass {
	color:#44BCDD;
}

.myfooter .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.myfooter .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.myfooter .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.myfooter .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.myfooter-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.myfooter-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}
/*  zooming class */


.zoom:hover {
     -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
     -o-transform: scale(1.4);
 }
.zoom {
     -webkit-transform: scale(1);
     /* Browser Variations: */

     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
 }
 .marginRodape{
   margin-top: 50px;
 }
 .textoCentralizado{
   text-align: center;
 }
 .textoEsquerda{
   text-align: left;
 }
 .textoDireita{
   text-align: right;
 }
 .textoMargin50px{
   margin-top: 50px;
 }

.marginDivInferior{
  padding-bottom: 20px;
}
.marginDivSuperior{
  padding-top: 20px;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

button.faixa {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline:none !important;
  width:100%;
}

button.faixaParticular {
  font-weight: bold;
  margin-top: -1 !important;
}

button:active {

  outline:none;
}

button.ribbon {

  outline:none;
  outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}

button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}

button.btn-default:before {
  border-color: #757575 #757575 #757575 transparent;
    }
    button.btn-default:after {
  border-color: #757575 transparent #757575 #757575;
    }
    button.btn-gray:before {
      border-color: #757575 #757575 #757575 transparent;
    }
    button.btn-gray:after {
      border-color: #757575 transparent #757575 #757575;
    }
    button.btn-primary:before {
  border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
    }
    button.btn-primary:after {
  border-color: #2e6da4 transparent #2e6da4 #2e6da4;
    }
    button.btn-success:before {
  border-color: #398439 #398439 #398439 transparent;
    }
    button.btn-success:after {
  border-color: #398439 transparent #398439 #398439;
    }
    button.btn-info:before {
  border-color: #269abc #269abc #269abc transparent;
    }
    button.btn-info:after {
  border-color: #269abc transparent #269abc #269abc;
    }
    button.btn-warning:before {
  border-color: #d58512 #d58512 #d58512 transparent;
    }
    button.btn-warning:after {
  border-color: #d58512 transparent #d58512 #d58512;
    }
    button.btn-danger:before {
  border-color: #ac2925 #ac2925 #ac2925 transparent;
    }
    button.btn-danger:after {
  border-color: #ac2925 transparent #ac2925 #ac2925;
    }

    .transition-timer-carousel .carousel-caption {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    	width: 100%;
    	left: 0px;
    	right: 0px;
    	bottom: 0px;
    	text-align: left;
    	padding-top: 5px;
    	padding-left: 15%;
    	padding-right: 15%;
    }
    .transition-timer-carousel .carousel-caption .carousel-caption-header {
    	margin-top: 10px;
    	font-size: 24px;
    }

    @media (min-width: 970px) {
        /* Lower the font size of the carousel caption header so that our caption
        doesn't take up the full image/slide on smaller screens */
    	.transition-timer-carousel .carousel-caption .carousel-caption-header {
    		font-size: 36px;
    	}
    }
    .transition-timer-carousel .carousel-indicators {
    	bottom: 0px;
    	margin-bottom: 5px;
    }
    .transition-timer-carousel .carousel-control {
    	z-index: 11;
    }
    .transition-timer-carousel .transition-timer-carousel-progress-bar {
        height: 5px;
        background-color: #5cb85c;
        width: 0%;
        margin: -5px 0px 0px 0px;
        border: none;
        z-index: 11;
        position: relative;
    }
    .transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
        /* We make the transition time shorter to avoid the slide transitioning
        before the timer bar is "full" - change the 4.25s here to fit your
        carousel's transition time */
        -webkit-transition: width 4.25s linear;
    	-moz-transition: width 4.25s linear;
    	-o-transition: width 4.25s linear;
    	transition: width 4.25s linear;
    }

    .notice {
    padding: 15px;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #066700;
    background-color: #0667001a;
}
.notice-success>strong {
    color: #29B620;
    font-weight: bold;
}
.notice-info {
    border-color: #265a88;
    background-color: #265a881a;
}
.notice-info>strong {
    color: #265a88;
    font-weight: bold;
}
.notice-warning {
    border-color: #FEAF20;
    background-color: #FEAF201a;
}
.notice-warning>strong {
    color: #FEAF20;
    font-weight: bold;
}
.notice-danger {
    border-color: #c12e2a;
    background-color: #c12e2a1a;
}
.notice-danger>strong {
    color: #c12e2a;
    font-weight: bold;
}
